@charset "UTF-8";

body {
    background-color: rgba(248, 246, 243, 0.901);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}

header {
    background-color: rgb(235, 210, 190);
}

p {
    background-color: rgb(230, 219, 219);
}

.capa {
  background-image: url('imagens/testecapa.jpeg'); 
  background-size: cover;
  background-position: center;
  height: 380px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.capa h1 {
    font-size: 40px;
}

.capa p {
    font-size: 30px;
}


.cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.curso {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    width: 150px;
    text-align: center;
}

.curso img {
    width: 100%;
    height: 120px;
    font-weight: bold;
    border-radius: 8px;
}

.curso p {
    margin-top: 8px;
    font-weight: bold;
}

.depoimentos {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.img-depoimentos {
    width: 35%;
    margin: 10px auto 30px;
    display: block;
    border-radius: 10px;
}

.depoimento {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.depoimento h3 {
    font-size: 18px;
    margin: 10px 0px 5px;
}

.depoimento p {
    font-size: 16px;
}

.form-inscricao {
    margin: 30px auto;
    background-color: rgb(235, 229, 222);
    padding: 10px;
    border-radius: 8px;
}